// Form Elements
label {
    font-size: 18px;
}

input {
    width: 100px;
    padding: 8px 16px;
    border: 1px solid $default-border-color;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 40px;
}